html, body {
    height: 100%;
    font-family: cursive;
    margin : 0px;
}

p {
    padding: 1em 0;
}

#team {
    font-family: 'Birthstone Bounce';
}

.full-height {
    height: 100%;
}

.cursive {
    font-family: cursive;
}

.icons {
    height: 10%;
}

.bg-blue {
    background-color: #03071f;
}

.text-blue {
    color: #03071f;
}

.bg-green {
    background-color: #33dd9f;
}

.text-green {
    color: #33dd9f;
}

div{
    font-family: 'Saira Semi Condensed';
}

p{
    font-family: 'Saira Semi Condensed';
    font-size: 24px;
    margin-top : 70px;
}

.about-content{
    width : 60%;
}

.content-container{
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.text-gray{
    color : #555;
}

.nav-bar{
    height : 80px;
    background: #03071F;
    display: flex;
    align-items: center;
}

.title{
    font-size: 36px;
    margin-bottom: -30px;
    margin-top : 50px;
}

.signature{
    float: right;
    margin-top : -30px;
}

.team-container{
    margin-top: 20px;
    padding-top: 50px;
    padding-bottom : 50px;
    width: 100%;
    display: flex;
    height : auto;
    margin-bottom : 50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    height : 80px;
    width : 100%;
    background: #03071F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.member-card{
    height : 300px;
    text-align: center;
    /* border : 1px solid red; */
    width : auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    padding : 16px;
    margin : 8px;
}

.member-pic{
    border-radius: 50%;
    height: 150px;
}

.member-name{
    font-size: 20px;
    font-weight: 500;
}

.member-info{
    font-size: 18px;
    font-weight: 300;
}

.card {
    width: 20rem;
    height: 30rem;
    border-radius: 2rem;
}

.btn {
    border-radius: 10rem;
}

a, a:hover {
    color: white;
    text-decoration: none;
}